@import "./normalize.scss";
@import "./exotwo.scss";
@import "./start.scss";

body {
    position: relative;

    background-color: #f5f5f5;

    font-family: "Exo 2", "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: #000000;

    /* color: #007bff; */
}

/* Auth Page */
.auth-page {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.6em 0;
}

/*  */
.table-page {
    width: 100%;
    /* 
    display: flex;
    justify-content: space-between; */

    padding: 1.6em 0;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .logo__image {
        width: 32px;
        margin-right: 10px;
    }

    .logo__title {
        font-weight: bold;
        text-transform: uppercase;
        color: #1c00ec;
    }
}

/* User SVG */
.user-svg {
    width: 80px;
    margin: 0 auto;
    padding: 20px 0 0;
}

/* Title */
.title {
    text-align: center;
    font-size: 1.8em;
    font-weight: 300;
    color: #1c00ec;
    padding: 20px 0;
}

/* Form */
.form {
    margin: 0 auto;
    max-width: 500px;

    .text-input {
        margin-bottom: 10px;
    }

    .main-button {
        margin: 20px 0;
    }
}

.file-form {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;

    .file-input {
        opacity: 0;
        visibility: hidden;
    }

    label {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 24px;

        border-radius: 0.25rem;
        border: 2px dashed rgba(0, 165, 241, 0.3);
        background-color: rgba(0, 165, 241, 0.1);

        cursor: pointer;
        z-index: 10;

        img {
            margin-bottom: 12px;
        }

        span {
            margin-bottom: 20px;
            font-weight: bold;
            color: #00a5f1;
            transition: 0.3s;
        }

        .button {
            display: none;
            padding: 10px;
            max-width: 240px;
        }

        &:hover span {
            color: #4d34ff;
        }
    }

    label.dragged-label {
        background-color: rgba(54, 132, 169, 0.05);
    }

    label.uploaded-label {
        img {
            display: none;
        }

        .button {
            display: block;
        }

        &:hover span {
            color: #00a5f1;
        }
    }
}

/* Text Input */
.text-input {
    display: block;
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #dadada;
    border-radius: 0.25rem;
    font-size: 14px;
    transition: 0.3s;

    &:focus {
        outline: none;
        border: 1px solid #4d34ff;
    }

    &::placeholder {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #888888;
    }
}

.text-input__error {
    background-color: rgba(240, 128, 128, 0.8);
    border: 1px solid lightcoral;

    &:focus {
        border: 1px solid crimson;
    }

    &::placeholder {
        color: #ffffff;
    }
}

/* Button */
.button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 32px;
    border-radius: 0.25rem;

    cursor: pointer;

    font-weight: 700;

    transition: 0.3s;
}

/* Main button */
.main-button {
    color: #ffffff;
    background-color: #00a5f1;
    border: 1px solid #00a5f1;

    &:hover {
        background-color: #008bcd;
        border: 1px solid #00a5f1;
    }
}

/* Transparent button */
.transparent-button {
    font-weight: normal;
    color: #007bff;
    background-color: transparent;
    border: 1px solid transparent;

    &:hover {
        color: #c6ddf5;
    }
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .logo {
        margin-bottom: 0;
    }
}

.header__right-block {
    display: flex;
    align-items: center;

    .user-svg,
    .logout-svg {
        padding: 0;
        width: 32px;
        height: 32px;
    }

    .logout-svg {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .user-svg {
        display: block;
        margin-right: 12px;

        img {
            width: 32px;
            height: 32px;
        }
    }

    .title {
        padding: 0;
        font-weight: bold;
        font-size: 16px;
        margin-right: 12px;
    }
}

/* Table */
table {
    border-spacing: 0;

    th,
    td,
    tr {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

.table-block {
    padding: 20px;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 0.25rem;

    .title {
        padding-left: 8px;
        padding-right: 8px;

        text-align: left;
        color: #000000;
        font-size: 1.5em;
        font-weight: 300;
    }

    table {
        width: 100%;
        text-align: center;
        text-align: left;

        tr th,
        tr td {
            padding: 0.75rem;
            border-top: 1px solid #dee2e6;

            &:nth-child(2) {
                text-align: left;
            }
        }
    }
}

/* Notification block */
.notification-block {
    padding: 10px 20px;
    position: fixed;
    top: 100px;
    left: 50%;
    max-width: 60%;
    border-radius: 0.25rem;
    transform: translateX(-50%);

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out 0s;

    border: 1px solid rgb(144, 238, 144);
    background-color: rgba(144, 238, 144, 0.8);
}

.notification-block__error {
    border: 1px solid rgb(240, 128, 128);
    background-color: rgba(240, 128, 128, 0.8);
}

.notification-block__shown {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}
